 body{
	background-color: white;

}

h1, p {

  color: black;
}

.header {

    align-items: center;
    background-color: white;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    height: 64px;
    justify-content: space-between;
    padding: 0 2em;
    position: fixed;
    width: 100%;
    z-index: 2;
}

a:link {
  color: black;
  /*background-color: transparent;*/
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: (233, 233, 233);
  /*background-color: transparent;*/
  text-decoration: underline;
}

a:active {
  color: black;
  /*background-color: transparent;*/
  text-decoration: underline;
}

.header #headingImage{

  float: left;

}

.headerSpacer {

  height: 64px;
}

.footer {
  position: relative;
  width: 100%;
  background-color: transparent;
  text-align: center;
  color: black;
}

#Projects {
  text-align: center;
  position: relative;
}

#Passion {
  text-align: center;
}

#Experience {
  text-align: center;
}

#About {
  text-align: center;
}

#btn1 {
  color: white;
  background-color: transparent;
  border-color: transparent;
}
