 body{
	background-image: url("https://img.freepik.com/free-photo/white-marble-texture-with-natural-pattern-background-design-art-work_24076-186.jpg?size=626&ext=jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;

}

h1, p {

  color: black;
}

.header {
  padding: 30px;
  text-align: right;
  font-size: 25px;
  position: top
}

.header {

  background-color: transparent;

}

.header:hover {
  
  opacity: 0.8;
  filter: alpha(opacity=200);
}

a:link {
  color: black;
  /*background-color: transparent;*/
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: (233, 233, 233);
  /*background-color: transparent;*/
  text-decoration: underline;
}

a:active {
  color: black;
  /*background-color: transparent;*/
  text-decoration: underline;
}

div.header#headingImage,
  img {

  position: center;

}

.footer {
  position: relative;
  width: 100%;
  background-color: transparent;
  text-align: center;
  color: black;
}

#Projects {
  text-align: center;
  position: relative;
}

#Passion {
  text-align: center;
}

#Experience {
  text-align: center;
}

#About {
  text-align: center;
}




