 body{
	background-image: url("sc.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, p {

  color: white;
}

.header {
  padding: 30px;
  text-align: center;
  font-size: 30px;
}

.header:hover {
  
  opacity: 0.8;
  filter: alpha(opacity=200);
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: deeppink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.footer {
  position: relative;
  width: 100%;
  background-color: transparent;
  text-align: center;
  color: white;
}

#Projects {
  text-align: center;
  position: relative;
}

#Passion {
  text-align: center;
}

#Experience {
  text-align: center;
}

#About {
  text-align: center;
}




